<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/decorator.html">

<head>
    <title>inndra &mdash; Requirement</title>
    <link media="screen" rel="stylesheet" type="text/css"
          th:href="@{/client/assets/plugins/css/starter-template.css}"/>
</head>
<body>
<th:block layout:fragment="header" layout:include="/decorators/header.html :: header">
    HEADER
</th:block>

<!-- //th:object='${Record}' -->

<div layout:fragment="sidebar" layout:include="/decorators/sidebar.html :: sidebar_user">

</div>

<div layout:fragment="content" class="container">

    <form th:object="${user}" class="form-horizontal" th:action='@{add}' method="POST">

        <h3>User</h3>

        <th:block th:with='isFault=${#fields.hasErrors()} ? ${#fields.hasErrors("name")}'>
            <div class="form-group" th:classappend='${isFault} ? has-error'>
                <label class="col-sm-1 control-label">Name:</label>

                <div class="col-sm-4">
                    <input class="form-control" type="text" th:field="*{name}"/>
                </div>
                <span th:class="help-block" th:if='${isFault}' th:errors="*{name}"/>
            </div>

            <input th:type="hidden" th:field="${user.id}"/>
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="submit" class="btn btn-primary">Add User</button>
                </div>
            </div>
        </th:block>
    </form>

</div>

<!--  -->

<th:block layout:fragment="configuration">
    <script th:src="@{/assets/libs/jquery/js/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap-3.1.1/js/bootstrap.min.js}"></script>
    <script>
			$('[data-toggle=tooltip]:visible').tooltip();
			console.log();





    </script>
</th:block>
</body>
</html>