<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layouts/decorator.html">

<head>
    <title>inndra &mdash; Requirement</title>
    <link media="screen" rel="stylesheet" type="text/css"
          th:href="@{/client/assets/plugins/css/starter-template.css}"/>
</head>
<body>
<th:block layout:fragment="header" layout:include="/decorators/header.html :: header">
    HEADER
</th:block>

<!-- //th:object='${Record}' -->

<div layout:fragment="sidebar" layout:include="/decorators/sidebar.html :: sidebar_record">

</div>

<div layout:fragment="content" class="container">

    <form th:object="${record}" class="form-horizontal" th:action='@{add}' method="POST">

        <h3>Record </h3>

        <th:block th:with='isFault=${#fields.hasErrors()} ? ${#fields.hasErrors("userId")}'>
            <div th:class="form-group" th:classappend='${isFault} ? has-error'>
                <label class="col-sm-2 control-label" for="userId">User:</label>

                <div class="col-sm-2">
                    <select id="userId" class="form-control" th:field="${record.userId}">
                        <option value="0">Assigned...</option>
                        <th:block th:each="user : ${userList}">
                            <option th:selected="${user.id} == *{userId}" th:text="${user.name}" th:value="${user.id}"/>
                        </th:block>
                    </select>
                </div>
                <span th:class="help-block" th:if='${isFault}' th:errors="*{userId}"/>
            </div>
        </th:block>


        <th:block th:with='isFault=${#fields.hasErrors()} ? ${#fields.hasErrors("beginDate")}'>
            <div class="form-group" th:classappend='${isFault} ? has-error'>
                <label class="col-sm-2 control-label">Begin Date:</label>

                <div class="col-sm-3">
                    <input type="datetime" class="form-control" th:field="*{beginDate}"
                           placeholder="YYYY-MM-DD HH:MM:SS"/>
                </div>
                <span th:class="help-block" th:if='${isFault}'>Please enter a valid date format</span>
            </div>
        </th:block>

        <th:block th:with='isFault=${#fields.hasErrors()} ? ${#fields.hasErrors("finishDate")}'>
            <div class="form-group" th:classappend='${isFault} ? has-error'>
                <label class="col-sm-2 control-label">Finish Date:</label>

                <div class="col-sm-3">
                    <input type="datetime" class="form-control" th:field="*{finishDate}"
                           placeholder="YYYY-MM-DD HH:MM:SS"/>
                </div>
                <span th:class="help-block" th:if='${isFault}'>Please enter a valid date format</span>
            </div>
        </th:block>

        <th:block th:with='isFault=${#fields.hasErrors()} ? ${#fields.hasErrors("description")}'>
            <div class="form-group" th:classappend='${isFault} ? has-error'>
                <label class="col-sm-2 control-label">Description:</label>

                <div class="col-sm-6">
                    <textarea class="form-control" rows="4" th:field="*{description}"/>
                </div>
                <span th:class="help-block" th:if='${isFault}' th:errors="*{description}"/>
            </div>

            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Add Record</button>
                </div>
            </div>
        </th:block>
    </form>

</div>

<!--  -->

<th:block layout:fragment="configuration">
    <script th:src="@{/assets/libs/jquery/js/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap-3.1.1/js/bootstrap.min.js}"></script>
    <script>
			$('[data-toggle=tooltip]:visible').tooltip();
			console.log();




    </script>
</th:block>
</body>
</html>